# Cache files
node_modules/
.cache/
dist/

# Editor files
.vscode/
.idea/
*.iml

# Build files
yarn-error.log
yarn.lock
package-lock.json

# Ignore the public directory
public/

# Ignore the CNAME file if you are using a custom domain
CNAME
